---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.id },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={`${entry.data.title}`}>
    <article
        class="prose prose-invert prose-indigo prose-lg mx-auto max-w-3xl prose-h1:text-center prose-h1:text-[clamp(2.5rem,5vw,4rem)] prose-h1:bg-linear-to-r prose-h1:from-indigo-400 prose-h1:to-blue-400 prose-h1:bg-clip-text prose-h1:text-transparent prose-pre:bg-slate-900 prose-pre:border-white/10 prose-pre:border prose-code:text-indigo-300"
    >
        <h1>{entry.data.title}</h1>
        <Content />
    </article>
</Layout>
